@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EventEase</h1>
    <a asp-controller="Event" asp-action="Create" class="btn btn-primary">Make a booking</a>
</div>
